<div class="px-6 pt-24 sm:pt-32 lg:px-8">
    <div class="mx-auto max-w-4xl text-center">
        <h1 class="text-4xl font-bold tracking-tight text-gray-900 sm:text-6xl">{{ title }}</h1>
        {{ if header_text }}
            <div class="mt-6 text-lg leading-8 text-gray-600 prose break-words">{{ header_text }}</div>
        {{ /if }}
        <p class="text-gray-600 max-w-3xl mx-auto mb-10">
            Sta je open voor begeleiding met behulp van paardencoaching, of heb je vragen over mijn werkwijze? Ik sta klaar om je te helpen. Vul het contactformulier in en ik neem zo snel mogelijk contact met je op. Samen kijken we hoe we een passend traject kunnen vormgeven dat aansluit bij jouw behoeften en doelen.
Ik kijk ernaar uit om je te ontmoeten en samen een stap te zetten richting meer rust, veerkracht en balans.
        </p>
    </div>
</div>
<div class="px-6 lg:px-8 py-12 sm:py-24">
    <div class="mx-auto max-w-3xl bg-white p-4 lg:p-6 rounded-xl shadow-sm border border-gray-50">
        {{ form:create formset="contact" }}
            {{ if success }}
            <div class="border-2 border-gob-blue text-gob-blue p-2 my-4 rounded flex items-center space-x-10">
                <p>
                    Je contactaanvraag is verzonden!
                </p>
            </div>
            {{ /if }}

            {{ if errors }}
            <div class="bg-red-500 text-white p-2 my-4 rounded">
                Er is iets misgegaan
            </div>
            {{ /if }}

            <div class="mt-10 form">
                {{ fields }}
                    {{ if display !== 'Turnstile Field'}}
                        <div class="p-2">
                            <label>{{ display }}</label>
                            <div class="form-input-wrapper">{{ field }}</div>
                            {{ if error }}
                            <p class="text-gray-500">{{ error }}</p>
                            {{ /if }}
                        </div>
                    {{ /if }}
                {{ /fields }}
            </div>

            <div class="mt-6 md:flex flex-col md:flex-row items-center justify-between gap-x-6">
                {{ fields }}
                    {{ if display === 'Turnstile Field'}}
                        <div class="p-2 mb-5 md:mb-0">
                            <div class="form-input-wrapper">{{ field }}</div>
                        </div>
                    {{ /if }}
                {{ /fields }}
                <button
                    type="submit"
                    class="inline-flex items-center gap-x-1.5 rounded-md bg-pink-300 px-3 py-2 text-sm font-semibold text-white shadow-sm hover:bg-green-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-green-600 transition duration-200 ease-in"
                >
                    Verzenden
                    <svg
                        xmlns="http://www.w3.org/2000/svg"
                        fill="none"
                        viewBox="0 0 24 24"
                        stroke-width="1.5"
                        stroke="currentColor"
                        class="w-6 h-6"
                    >
                        <path
                            stroke-linecap="round"
                            stroke-linejoin="round"
                            d="M17.25 8.25L21 12m0 0l-3.75 3.75M21 12H3"
                        />
                    </svg>
                </button>
            </div>
        {{ /form:create }}
    </div>
</div>
